<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NUMANGUAN - AI기반 관상 키워드, 운명의 단짝 매칭 서비스</title>
    <meta name="description" content="인공지능으로 닮은 연예인과 키워드를 찾을 수 있습니다. 사주팔자 정보로 운명의 사람의 성격과 외모를 찾을 수 있습니다.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="AI기반 관상, 운명의 단짝 매칭 서비스">
    <meta property="og:description" content="인공지능으로 닮은 연예인과 키워드를 찾을 수 있습니다. 사주팔자 정보로 운명의 사람의 성격과 외모를 찾을 수 있습니다.">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>
    <meta name="naver-site-verification" content="767b3a4672a87e3a981bb364689a968f901e4cb4" />
    <link rel="apple-touch-icon" sizes="57x57" href="../images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
    <link rel="manifest" href="../images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body class="vh-100">
    <header class="container px-0">
      <div class="bg-success text-white">
        <p class="py-2 ps-2 mb-0 fw-bold">
          NUMANGUAN
        </p>
      </div>
      <div class="bg-success" style="--bs-bg-opacity: .5;">
        <p class="py-2 ps-2 fw-bold">
          AI기반 관상, 운명의 단짝 매칭 서비스
        </p>
      </div>
      <div>
        <ins class="kakao_ad_area" style="display:none;"
          data-ad-unit = "DAN-cANBoqOJPu77AvHp"
          data-ad-width = "320"
          data-ad-height = "50"></ins>
          <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
      </div>
    </header>

    <section class="container bg-dark px-4 rounded-3 vw-100" style="--bs-bg-opacity: .1; padding-bottom: 10vh;">
      <form action="/result" method="post" enctype="multipart/form-data"
        id="formdata">
        <div class="mx-auto">
          <div class="py-3">
            <label for="formFile" class="form-label">얼굴 사진</label>
            <input name="image" class="form-control" type="file" id="formFile"
              onchange="preview();" /required>
          </div>
          <div class="mx-auto text-center">
            <img id="frame" src="" class="img-fluid pb-3" style="max-width:30%; height:auto;" hidden/>
          </div>
        </div>

        <div class="form-floating pb-3">
          <input type="text" class="form-control" id="name" name="name"
            placeholder="name" /required>
          <label for="name">이름</label>
        </div>
        <div class="pb-3">
          <select name="gender" id="gender" class="form-select"
            aria-label="Default select example" /required>
            <option value="" disabled selected>성별</option>
            <option value="남자">남자</option>
            <option value="여자">여자</option>
          </select>
        </div>
        <div class="row">
          <label for="Inputbirth" class="form-label">생년월일</label>
          <div class="col">
            <div class="form-floating">
              <select name="year" class="form-select" id="year"
                aria-label="Floating label select example" /required>
              </select>
              <label for="floatingSelectGrid">년도</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <select name="month" class="form-select" id="month"
                aria-label="Floating label select example" /required>
              </select>
              <label for="floatingSelectGrid">월</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <select name="day" class="form-select" id="day"
                aria-label="Floating label select example" /required>
              </select>
              <label for="floatingSelectGrid">일</label>
            </div>
          </div>
        </div>
        <div class="py-2 form-check ">
          <input type="checkbox" class="form-check-input" id="exampleCheck1"
            /required>
          <label class="form-check-label" for="exampleCheck1">개인정보 수집에 동의(사진 정보는 수집되지 않습니다.)</label>
        </div>
        <div class="d-grid gap-2 col-2 mx-auto py-3" style="justify-content:
          center;">
          <button id="sbm_btn" class="btn btn-success"
            style="min-width: 25vw;" type="button" onclick="chk();">확인</button>
          <div class="spinner-border text-success mx-auto" role="status"
            id="loading" hidden>
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </form>
    </section>

    <footer class="container bottom-100">
      <div class="col-md-4 pb-2 d-flex">
        <span class="text-muted">© 2022 Company, NUMAN Inc</span>
      </div>
      <div class="px-0">
        <ins class="kakao_ad_area" style="display:none;"
          data-ad-unit="DAN-aij5mmHFTQXDn3oI"
          data-ad-width="320"
          data-ad-height="50"></ins>
        <script type="text/javascript"
          src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
      </div>
    </footer>

    <script>
      
      $(document).ready(function () {
        setDateBox();
      });
    
      // select box 연도 , 월 표시
      function setDateBox() {
        var dt = new Date();
        var year = "";
        var com_year = dt.getFullYear();
    
        // 발행 뿌려주기
        $("#year").append("<option value=''>년도</option>");
    
        // 올해 기준으로 -50년부터 +1년을 보여준다.
        for (var y = (com_year - 40); y <= (com_year - 20); y++) {
          $("#year").append("<option value='" + y + "'>" + y + " 년" + "</option>");
        }
    
        // 월 뿌려주기(1월부터 12월)
        var month;
        $("#month").append("<option value=''>월</option>");
        for (var i = 1; i <= 12; i++) {
          $("#month").append("<option value='" + i + "'>" + i + " 월" + "</option>");
        }
    
        // 일 뿌려주기(1일부터 31일)
        var day;
        $("#day").append("<option value=''>일</option>");
        for (var i = 1; i <= 31; i++) {
          $("#day").append("<option value='" + i + "'>" + i + " 일" + "</option>");
        }
    
      }
      function chk() {
        var f = document.forms.formdata;
        if(f.formFile.value == ""){
          alert("얼굴이 포함된 사진을 입력해주세요.");
        }
        else if(f.name.value == ""){
          alert("이름을 입력해주세요.");
        }
        else if(f.gender.value == ""){
          alert("성별을 입력해주세요.");
        }
        else if(f.year.value == ""){
          alert("태어난 해를 입력해주세요.");
        }
        else if(f.month.value == ""){
          alert("태어난 달을 입력해주세요.");
        }
        else if(f.day.value == ""){
          alert("태어난 날을 입력해주세요.");
        }
        else if(f.exampleCheck1.checked == false){
          alert("개인정보 이용에 동의해주세요.");
        }
        else{
          loading_change();
          init();
        }
      }
      function preview() {
        frame.hidden = false;
        frame.src = URL.createObjectURL(event.target.files[0]);
      }
      function loading_change() {
        sbm_btn.hidden = true;
        loading.hidden = false;          
      }
      function clearImage() {
          document.getElementById('formFile').value = null;
          frame.src = "";
      }       
      </script>
      <script type="text/javascript">
        async function init() {
          var gender_form = document.getElementById("gender").value
          if(gender_form == '남자'){
            var URL = "https://teachablemachine.withgoogle.com/models/llHKNWkuD/";
          }
          else {
            var URL = "https://teachablemachine.withgoogle.com/models/qszTJuFES/";
          }
          const modelURL = URL + "model.json";
          const metadataURL = URL + "metadata.json";
          let model, maxPredictions;

          model = await tmImage.load(modelURL, metadataURL);
          maxPredictions = model.getTotalClasses();

          var model_image = document.getElementById("frame");
          const prediction = await model.predict(model_image, false);
          var max = 0;
          var keyword = '';
          var keywords = {'1':'강아지상','2':'고양이상','3':'곰돌이상','4':'공룡상','5':'토끼상'};

          for (let i = 0; i < maxPredictions; i++) {
              if (prediction[i].probability.toFixed(2) > max){
                max = prediction[i].probability.toFixed(2);
                keyword = prediction[i].className;
              }
          }
          keyword = keywords[keyword]
          var fd = document.forms.formdata;
          var input_data = document.createElement('input');

          input_data.name = 'keyword'
          input_data.type = 'hidden';
          input_data.value = keyword;
          fd.appendChild(input_data); 
          fd.submit();
        }
    </script>
  </body>
</html>